@import '../../../scss/variables';
@import '../../../scss/libs/normalize';

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 475px) {
    flex-direction: column;
  }

  .title {
    display: flex;
    align-items: center;
    font-size: 32px;

    @media (max-width: 475px) {
      margin-bottom: 10px;
    }

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  .clear {
    @include noselect();

    button {
      display: flex;
      align-items: center;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
      border: 0;
      cursor: pointer;
    }

    button,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      button {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }
}
